@{
    ViewData["Title"] = "CartaEncontrada";
}

<p>@nombre se encontró una carta que literalmente admitía a planear matar al Presidente, al ver esto se sintió satisfecho con la evidencia e intentó salir pero, la puerta ya no estaba, @nombre estaba encerrado y la única puerta que lo liberaría era la que llevaba a la segunda sala, puerta cerrada con llave. @nombre no sabía si habría otra salida o si podría encontrar una llave, pero tenía que intentarlo.</p>