@{
    ViewData["Title"] = "Inicio";
}

<h1>La Revelación</h1>
<img src="logoJuego.jpg" alt="">
 <p>Presione el botón para jugar:</p>
<a href='@Url.Action("IngresarNombre")'>
    <input type="button" value="Comenzar">
</a>