@{
    ViewData["Title"] = "Inicio";
}

<h1>La Revelación</h1>
<img src="logoJuego.jpg" alt="">
<p>Presione la tecla de espacio para jugar</p>

<script>
    document.addEventListener('keydown', function(event) {
        if (event.code === 'space') {
            vent.preventDefault();
            window.location.href = 'Presentacion/IngresarNombre.cshtml';
        }
    });
</script>