@{
    ViewData["Title"] = "Sala I";
}
<div class="cofre">
    <a href="Cofre.cshtml">
        <input button>
    </a>
</div>
<div class="puertaII">
    <form action='@Url.Action("VerficiarCodigo")' method="get">
    <input type="text" name="Codigo"/>
    <input type="submit" required/>
</div>


