@{
    ViewData["Title"] = "Prólogo";
}

<div>
    <h1>La Revelación</h1>
    <p>Era una noche oscura y fría el día 13 de Marzo de 1998 en Dayton, Ohio, cuando el/la detective @nombre fue a investigar el asesinato de un cura llamado John Cesar a su iglesia """ a las afueras de la ciudad.</p>
    <p>Al principio no se encontró con tanto, además de unos símbolos no vistos ántes por @nombre, pero al revisar los cuartos encontró una puerta secreta apuntando hacia el subsuelo.</p>
    <p>En esta puerta estaba en gigante el número romano "I" y abajo el símbolo previamente visto por @nombre y éste se dio cuenta que esa iglesia era más que una zona de rezos.</p>
    <p>Con un poco de esfuerzo pudo abrir la puerta, pero lo que vería dentro no se lo imáginaba nunca, había un cuarto lleno de artefactos de lo que parecía oro y habían muchas cosas allí. Se puso a investigar.</p>
</div>