@{
    ViewData["Title"] = "Nombrar";
}

<p>Ingrese su nombre:</p>
<form action='@Url.Action("Intro")' method="get">
    <input type="text" name="nombre"/>
    <input type="submit" value="Confirmar Nombre" required/>
</form>